.outer {
    max-width: 800px; /* 最大宽度 */
    margin: 0 auto; /* 水平居中 */
    padding: 20px; /* 内边距 */
  }
  
  .page-type-title {
    text-align: center; /* 标题居中 */
    font-size: 24px; /* 标题字体大小 */
    margin-bottom: 20px; /* 标题与内容的间距 */
  }

  body {
    margin: 0; /* 清除默认边距 */
    height: 100vh; /* 设置页面高度为视口高度 */
    display: flex; /* 使用flex布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    background-color: #2B313F; /* 设置背景颜色 */
    
}

.categories-box {
    display: flex; /* 使用flex布局 */
    flex-wrap: wrap; /* 允许项目换行 */
    justify-content: center; /* 主轴居中对齐 */
    align-items: center; /* 交叉轴居中对齐 */
    padding: 5px; /* 容器内边距 */
    background-color: rgba(255, 255, 255, 0); /* 完全透明的背景 */
    width: 100%; /* 确保容器占据整个页面宽度 */
    max-width: 1200px; /* 你可以根据需要设置最大宽度 */
}

.categories-box a {
    display: inline-block; /* 使链接显示为块级元素 */
    padding: 30px 45px; /* 添加内边距 */
    margin: 10px; /* 添加外边距 */
    background-color: #f8f8f8; /* 设置背景颜色 */
    color: #000000; /* 设置文字颜色 */
    text-decoration: none; /* 去除下划线 */
    border-radius: 5px; /* 设置边框圆角 */
    transition: background-color 0.3s, color 0.3s; /* 添加颜色变化的过渡效果 */
    background-image: linear-gradient(to right, #E2E7BF, #FFFFFF);
    text-align: center; /* 文字居中 */
    flex-basis: calc(33.333% - 20px); /* 每个按钮占用三分之一的宽度 */
}

.categories-box a:hover {
    background-color: #ffffff; /* 鼠标悬浮时的背景颜色 */
    color: #000000; /* 鼠标悬浮时的文字颜色 */
}


@media (max-width: 768px) {
  .categories-box a {
      flex-basis: 100%; /* 小屏幕时占满一整行 */
  }
}